body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

.player {
    display: flex;
    align-items: center;
}

.control-button {
    background-color: transparent;
    border: none;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* Настройки для всех кнопок */
.control-button img {
    width: 100px; /* Общий размер для всех кнопок, можно изменить по необходимости */
    height: 100px; /* Общий размер для всех кнопок, можно изменить по необходимости */
}

/* Специальные настройки для кнопки "Play" */
.play-button img {
    width: 200px; /* Настройте размер кнопки "Play" по вашему усмотрению */
    height: 200px; /* Настройте размер кнопки "Play" по вашему усмотрению */
}

.control-button:focus {
    outline: none;
}
